# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# Django
*.log
*.sqlite3
*.sqlite3-journal
db.sqlite3
media/
staticfiles/
local_settings.py

# Variabile de mediu
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Coverage / pytest
.coverage
.pytest_cache/
htmlcov/

# Render
.render/
